.navbar-item-header{
    list-style: none;
    margin: 0;
    padding: 0;
    display:flex;
    gap:20px;
    align-items: center;
    font-size: 22px;
}

.navbar-item-footer{
    list-style: none;
    margin: 0;
    padding: 0;
    display:flex;
    gap:5px;
    align-items: center;
    font-size: 16px;
}

.navbar-item-footer-1{
    list-style: none;
    margin: 0;
    display:flex;
    gap:5px;
    align-items: flex-start;
    font-size: 20px;
    text-decoration: underline;
    text-decoration-color: blue;
}

.navbar--link{
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    display:flex;
    gap:20px;
    align-items: center;
    padding: 3px;
    cursor: pointer;
    color: white;
}

.navbar--link:hover{
    color: rgb(60, 0, 255);
    transition: all .4s linear;
}


