.container-section1{
    max-width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-block-end: 50px;
    margin-top: 20px;
}

.container-home{
    max-width: 650px;
    display:flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    font-size: 26px;
    margin-top: 30px;
    margin-block-end: 30px;

}

.button-style{
    width: 150px;
    display: flex;
    align-items: center;
    justify-content:center;
    background-color: rgb(127, 172, 255);
    border-radius: 5px;
    border: solid white;
    padding: 4px;
    
}