.card-carousel{
    display: flex;
    flex-direction: column;
    width: 230px;
    height: 300px;
    padding: 20px;
    box-shadow: 1px 1px 4px 2px black;
    border-radius: 5px 5px 5px 5px;
    margin: 20px;
    gap: 8px;
    transition: 0.5s;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.card-carousel:hover{
    transform: scale(1.04);
}

.img-carousel{
    width: 180px;
    height: 160px;
}